{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "tailwindStylesheet": "./src/app/globals.css",
  "plugins": ["prettier-plugin-tailwindcss"]
}
